<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body bgcolor="#BCCAFA">
<div id="header" style="text-align:center;color:white">
<h1>El blog de Almendra</h1>
</div>
<%= yield %>

</body>
</html>
